.App {
  text-align: center;
}

.headerdiv{
  background-color: #198cff;
}

.headerdiv h2{
  color: #fff;
  padding: 10px;
}

.recharts-default-tooltip p{
  font-size: 10px;
}

.recharts-default-tooltip{
  padding: 3px!important;
}

.recharts-default-tooltip ul{
  font-size: 10px;
}

.recharts-wrapper Line {
  stroke: #fff;
  fill: #fff;
}

.recharts-wrapper path {
  stroke: #fff;
}

.recharts-wrapper circle {
  stroke: #16113a;
  fill: #16113a;
  r: 1
}


.recharts-wrapper svg {
  padding: 5px;
}

.recharts-wrapper {
  width: 100%!important;
}

.recharts-wrapper text {
  stroke: #fff;
  fill: #fff;
  font-size: 10px;
  font-weight: normal;
}

.chartdiv {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
  padding: 10px!important;
}

